@mixin button() {
  min-width: 9rem;
  height: 2.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-align: center;
  color: $button-text-brush;
  border-radius: 30px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 1rem;
  &:hover {
    box-shadow: 2px 2px 5px $button-shadow-brush;
  }
}

@mixin active-button() {
  @include button;

  background: $button-brush;
  border: solid $button-brush 3px;
}
