.shape {
  height: 50px;
  width: 50px;
  position: absolute;
  right: calc(50% - 25px);
  background-color: $dark-grey;
  border-radius: 8px;
  margin: auto;
  cursor: pointer;
  // This avoids movement on the shapes when one is selected due to the size difference, to review for a better solution
  border: 3px solid transparent;

  &--selected {
    border: 3px solid $primary-yellow;
    z-index: 2;
  }
  &:focus {
    box-shadow: 15px 1px 1px $black;
  }
}
